/*******************************/
/********* General CSS *********/
/*******************************/
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
    color: #030f27;
}

.facebook {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #033ad1 45%, #012d66 60%, #F0F2F0 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram {
    margin-right: 0;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #6600a1;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    color: #6600a1;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top:hover {
    color: #6600a1;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 5px 10px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #030f27;
}

.top-bar .top-bar-item a {
    color: #030f27;
    padding: 0 10px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #030f27;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 40px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: white;

    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #030f27;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #6600a1;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.navbar-expand-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }

    .nav-bar.nav-sticky {
        padding: 0;
    }

    .nav-bar .navbar {
        padding: 20px;
    }

    .nav-bar .navbar-brand {
        display: none;
    }

    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .navbar-toggler i {
        color: #030f27;
        font-size: 30px;
    }

    .nav-bar a.nav-link {
        padding: 5px;
    }

    .nav-bar .dropdown-menu {
        box-shadow: none;
    }

    .nav-bar .btn {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption a {
    color: #ffffff;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #00943c;
    border-color: #00943c;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .carousel .carousel-caption p {
        font-size: 20px;
    }

    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel .carousel-caption p {
        font-size: 16px;
    }

    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #6600a1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #030f27;
    border-radius: 0;
    background: #6600a1;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #6600a1;
    background: #030f27;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*MARCAS*/
.marcas {
    height: 400px;
    background-image: url("/img/back-marcas.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.marcas hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 3px solid #6600a1;
    width: 10%;
}

.back-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

.item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    display: flex;
    align-items: center;
    width: 70%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.item-info i {
    font-size: 35px;
}

@media (min-width: 767.98px) {
    .slider {
        overflow-x: hidden;
        justify-content: center;
        width: 100%;
    }
}

.slider img {
    object-fit: cover;
    scroll-snap-align: center;
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.service .service-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.service .service-img img {
    width: 100%;
}

.service .service-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background: rgba(3, 15, 39, .5);
    transition: .5s;
}

.service .service-overlay h3 {
    color: white;
    margin: 0;
}

.service .service-item a.btn {
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
    transition: .3s;
}

.service .service-item:hover a.btn {
    color: #ffffff;
}

/*******************************/
/********* CONTACTO *********/
/*******************************/
.diagonal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 0;
    height: 20rem;
    width: 100vw;
}

.content-box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coti a {
    text-decoration: none;
    font-size: 3rem;
    color: #654ea3;
}

.contacto {
    margin: 100px 0;
    padding: 60px 0;
    background-image: url("/img/layered-waves-haikei.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    font-size: 40px;
    margin-right: 20px;
    transition: .3s;
}

.social a:last-child {
    margin-right: 0;
}

/*******************************/
/********* FQs *********/
/*******************************/
.card-header {
    display: flex;
    align-items: center;
}

.card-header i {
    color: #6600a1;
    font-size: 25px;
    margin-right: 10px;
}

.card-header a {
    font-size: 20px;
}

.card-body i {
    color: #6600a1;
    margin-right: 10px;
}

/******************* FAQS *******************************/
.card-body a {
    text-decoration: underline;
    color: #6600a1;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #030f27;
    color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #6600a1;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #6600a1;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #6600a1;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #6600a1;
    border-color: #6600a1;
}

.footer .footer-social a:hover i {
    color: #030f27;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #121518;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6600a1;
    background: #121518;
    border-radius: 0;
    border: 2px solid #6600a1;
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #121518;
    background: #6600a1;
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
    color: #6600a1;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .copyright {
    padding: 30px 15px;
    text-align: center;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright a {
    color: #6600a1;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}


/**   WHATSAPP  **/
.wsp .fa-whatsapp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    width: 60px;
    height: 60px;
    bottom: 10%;
    right: 15px;
    background: #075e54;
    border-radius: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}

.wsp a {
    color: white;
<<<<<<< HEAD
    font-size: 40px;
}
=======
   font-size: 40px; 
}
>>>>>>> 4dc14dc8148a2260d6e394ac7b283390795d40f5
