/*******************************/
/********* General CSS *********/
/*******************************/
html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space /
    background: transparent; / optional: just make scrollbar invisible /
    }
    / optional: show position indicator in red */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

h1,
h2,
h4,
h5,
h6 {
    color: #030f27;
}

.facebook {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #033ad1 45%, #012d66 60%, #F0F2F0 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram {
    margin-right: 0;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #6600a1;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    box-shadow: none;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    background: #ffffff;
}

.back-to-top {
    position: fixed;
    display: none;
    color: #6600a1;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 40px;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}

.back-to-top:hover {
    color: #6600a1;
}

.back-to-top i {
    padding-top: 10px;
}

.btn {
    transition: .3s;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 5px 10px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #030f27;
}

.top-bar .top-bar-item a {
    color: #030f27;
    padding: 0 10px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text p {
    margin: 0;
    color: #030f27;
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 40px;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav-bar {
    position: relative;
    background: white;

    transition: .3s;
}

.nav-bar .container-fluid {
    padding: 0;
}

.nav-bar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    height: 100%;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #030f27;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #6600a1;
    transition: none;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 0;
}

.navbar-expand-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .nav-bar {
        padding: 0 75px;
    }

    .nav-bar.nav-sticky {
        padding: 0;
    }

    .nav-bar .navbar {
        padding: 20px;
    }

    .nav-bar .navbar-brand {
        display: none;
    }

    .nav-bar a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {
    .navbar-toggler i {
        color: #030f27;
        font-size: 30px;
    }

    .nav-bar a.nav-link {
        padding: 5px;
    }

    .nav-bar .dropdown-menu {
        box-shadow: none;
    }

    .nav-bar .btn {
        display: none;
    }
}


/*******************************/
/******** Carousel CSS *********/
/*******************************/
.carousel {
    position: relative;
    width: 100%;
    height: calc(100vh - 170px);
    min-height: 400px;
    text-align: center;
    overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
}

.carousel .carousel-caption {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 170px);
    min-height: 400px;
}

.carousel .carousel-caption p {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.carousel .carousel-caption h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 35px;
}

.carousel .carousel-caption a {
    color: #ffffff;
}

.carousel .carousel-caption .btn {
    padding: 15px 35px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0;
    transition: .3s;
}

.carousel .carousel-caption .btn:hover {
    color: #030f27;
    background: #00943c;
    border-color: #00943c;
}

@media (max-width: 767.98px) {
    .carousel .carousel-caption h1 {
        font-size: 40px;
        font-weight: 700;
    }

    .carousel .carousel-caption p {
        font-size: 20px;
    }

    .carousel .carousel-caption .btn {
        padding: 12px 30px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-caption h1 {
        font-size: 30px;
        font-weight: 500;
    }

    .carousel .carousel-caption p {
        font-size: 16px;
    }

    .carousel .carousel-caption .btn {
        padding: 10px 25px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
    }
}

.carousel .animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.section-header p {
    color: #6600a1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
}

.about .about-img {
    position: relative;
    height: 100%;
}

.about .about-img img {
    width: 100%;
    object-position: center center;
    object-fit: cover;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #030f27;
    border-radius: 0;
    background: #6600a1;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #6600a1;
    background: #030f27;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}

/*MARCAS*/
.marcas {
    height: 400px;
    background-image: url("/img/back-marcas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.marcas hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 3px solid #6600a1;
    width: 10%;
}

.back-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
}

.item-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-info i {
    font-size: 35px;
}
.swiper {
    width: 100%;
    height: 10rem;
  }
  .swiper .swiper-button-prev,.swiper-button-next{
      color: #6600a1;
  }
  .swiper-slide{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.service .service-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.service .service-img img {
    width: 100%;
}

.service .service-overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    background: rgba(3, 15, 39, .5);
    transition: .5s;
}

.service .service-overlay h3 {
    color: white;
    margin: 0;
}

.service .service-item a.btn {
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
    transition: .3s;
}

.service .service-item:hover a.btn {
    color: #ffffff;
}

/*******************************/
/********* CONTACTO *********/
/*******************************/
.diagonal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20rem;
    width: 100vw;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1068%26quot%3b)' fill='none'%3e%3cpath d='M -369.9127865038435%2c337 C -321.91%2c270.8 -225.91%2c2.6 -129.9127865038435%2c6 C -33.91%2c9.4 14.09%2c337 110.0872134961565%2c354 C 206.09%2c371 254.09%2c61.4 350.0872134961565%2c91 C 446.09%2c120.6 494.09%2c497.2 590.0872134961564%2c502 C 686.09%2c506.8 734.09%2c140.2 830.0872134961564%2c115 C 926.09%2c89.8 974.09%2c373.4 1070.0872134961564%2c376 C 1166.09%2c378.6 1236.1%2c96.6 1310.0872134961564%2c128 C 1384.07%2c159.4 1414.02%2c452 1440%2c533' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -393.0268837285108%2c332 C -345.03%2c277.6 -249.03%2c22 -153.02688372851085%2c60 C -57.03%2c98 -9.03%2c524.6 86.97311627148915%2c522 C 182.97%2c519.4 230.97%2c46 326.9731162714892%2c47 C 422.97%2c48 470.97%2c494.6 566.9731162714892%2c527 C 662.97%2c559.4 710.97%2c202.8 806.9731162714892%2c209 C 902.97%2c215.2 950.97%2c545.8 1046.973116271489%2c558 C 1142.97%2c570.2 1208.37%2c296.2 1286.973116271489%2c270 C 1365.58%2c243.8 1409.39%2c395.6 1440%2c427' stroke='rgba(102%2c 0%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -217.25506175705564%2c427 C -169.26%2c360.2 -73.26%2c87 22.74493824294435%2c93 C 118.74%2c99 166.74%2c422 262.74493824294433%2c457 C 358.74%2c492 406.74%2c270.6 502.74493824294433%2c268 C 598.74%2c265.4 646.74%2c493.8 742.7449382429444%2c444 C 838.74%2c394.2 886.74%2c34.2 982.7449382429444%2c19 C 1078.74%2c3.8 1126.74%2c370.2 1222.7449382429443%2c368 C 1318.74%2c365.8 1419.29%2c9.8 1462.7449382429443%2c8 C 1506.2%2c6.2 1444.55%2c288.8 1440%2c359' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1068'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.content-box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coti a {
    text-decoration: none;
    font-size: 3rem;
    color: #654ea3;
}

.contacto {
    margin: 100px 0;
    padding: 60px 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1069%26quot%3b)' fill='none'%3e%3cpath d='M -57.24629989263448%2c23 C -9.25%2c88.2 86.75%2c310.4 182.75370010736552%2c349 C 278.75%2c387.6 326.75%2c186.2 422.7537001073655%2c216 C 518.75%2c245.8 566.75%2c502.8 662.7537001073655%2c498 C 758.75%2c493.2 806.75%2c215.2 902.7537001073655%2c192 C 998.75%2c168.8 1046.75%2c372.4 1142.7537001073656%2c382 C 1238.75%2c391.6 1286.75%2c243.2 1382.7537001073656%2c240 C 1478.75%2c236.8 1611.3%2c406.6 1622.7537001073656%2c366 C 1634.2%2c325.4 1476.55%2c102.8 1440%2c37' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -144.23763752051883%2c138 C -96.24%2c187.4 -0.24%2c393.6 95.76236247948117%2c385 C 191.76%2c376.4 239.76%2c89.6 335.76236247948117%2c95 C 431.76%2c100.4 479.76%2c388.6 575.7623624794812%2c412 C 671.76%2c435.4 719.76%2c225.4 815.7623624794812%2c212 C 911.76%2c198.6 959.76%2c375.2 1055.7623624794812%2c345 C 1151.76%2c314.8 1199.76%2c57 1295.7623624794812%2c61 C 1391.76%2c65 1506.91%2c339 1535.7623624794812%2c365 C 1564.61%2c391 1459.15%2c225.8 1440%2c191' stroke='rgba(102%2c 0%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -293.8914187739442%2c55 C -245.89%2c153.6 -149.89%2c549.2 -53.89141877394424%2c548 C 42.11%2c546.8 90.11%2c86.2 186.10858122605578%2c49 C 282.11%2c11.8 330.11%2c344 426.1085812260558%2c362 C 522.11%2c380 570.11%2c148.8 666.1085812260558%2c139 C 762.11%2c129.2 810.11%2c293.6 906.1085812260558%2c313 C 1002.11%2c332.4 1050.11%2c214.6 1146.1085812260558%2c236 C 1242.11%2c257.4 1327.33%2c437.8 1386.1085812260558%2c420 C 1444.89%2c402.2 1429.22%2c201.6 1440%2c147' stroke='rgba(102%2c 0%2c 255%2c 0.42)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1069'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social a {
    font-size: 40px;
    margin-right: 20px;
    transition: .3s;
}

.social a:last-child {
    margin-right: 0;
}

/*******************************/
/********* FQs *********/
/*******************************/
.card-header {
    display: flex;
    align-items: center;
}

.card-header i {
    color: #6600a1;
    font-size: 25px;
    margin-right: 10px;
}

.card-header a {
    font-size: 20px;
}

.card-body i {
    color: #6600a1;
    margin-right: 10px;
}

/******************* FAQS *******************************/
.card-body a {
    text-decoration: underline;
    color: #6600a1;
}
.map-responsive{
    margin-top: 4rem;
    overflow: hidden;
    padding-bottom: 56%;
    position: relative;
    height: 0;
}
.map-responsive iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    padding-top: 90px;
    background: #030f27;
    color: #ffffff;
}

.footer .footer-contact,
.footer .footer-link,
.footer .newsletter {
    position: relative;
    margin-bottom: 45px;
}

.footer h2 {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #6600a1;
}

.footer h2::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #6600a1;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #6600a1;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 7px 0;
    text-align: center;
    border: 1px solid rgba(256, 256, 256, .3);
    border-radius: 60px;
    transition: .3s;
}

.footer .footer-social a i {
    font-size: 15px;
    color: #ffffff;
}

.footer .footer-social a:hover {
    background: #6600a1;
    border-color: #6600a1;
}

.footer .footer-social a:hover i {
    color: #030f27;
}

.footer .newsletter .form {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.footer .newsletter input {
    height: 50px;
    border: 2px solid #121518;
    border-radius: 0;
}

.footer .newsletter .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #6600a1;
    background: #121518;
    border-radius: 0;
    border: 2px solid #6600a1;
    transition: .3s;
}

.footer .newsletter .btn:hover {
    color: #121518;
    background: #6600a1;
}

.footer .footer-menu .f-menu {
    position: relative;
    padding: 15px 0;
    font-size: 0;
    text-align: center;
    border-top: 1px solid rgba(256, 256, 256, .1);
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .footer-menu .f-menu a {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a:hover {
    color: #6600a1;
}

.footer .footer-menu .f-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


.footer .copyright {
    padding: 30px 15px;
    text-align: center;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright a {
    color: #6600a1;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}

@media (max-width: 768px) {

    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
}


/**   WHATSAPP  **/
.wsp .fa-whatsapp {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    width: 60px;
    height: 60px;
    bottom: 10%;
    right: 15px;
    background: #075e54;
    border-radius: 100%;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}

.wsp a {
    color: white;
    font-size: 40px;
}
